<div class="logreg">
   <div class="row">
      <div class="col-md-12">
         <div class="logreg-page">
            <h2>ログイン</h2>
            <p>Todonは下記サービスのアカウントでご使用できます</p>
            <hr />
            <div class="form" style="text-align: center;">
              <div class="button">
                <a href="/auth/twitter"><i class="icon-twitter">&nbsp;&nbsp;</i>Twitterのアカウントでログインする</a><br><br>
                <a href="/auth/facebook"><i class="icon-facebook">&nbsp;&nbsp;</i>facebookのアカウントでログインする</a><br><br>
                <a href="/auth/google_oauth2"><i class="icon-google-plus">&nbsp;&nbsp;</i>Googleのアカウントでログインする</a><br><br>
              </div>
            </div>
         </div>
      </div>
   </div>
</div>

<!-- Content ends -->
