  <div class="row">
    <div class="col-md-12">
      <div id="da-slider" class="da-slider">
        <div class="da-slide da-slide-fromleft da-slide-current">
					<h2>Todon.</h2>
					<a href="<%= login_url %>" class="da-link">ログイン</a>
          <p>しなきゃいけない事、<br>全部ここに</p>
					<div class="da-img"><img src="<%= image_path('parallax/2.png') %>" alt="image01"></div>
				</div>
			</div>
    </div>
  </div>
  <div class="bor"></div>
  <div class="main-box">
    <h4>about</h4>
  <p><span class="color">Todon.</span>はシンプルなTODO管理用Webサービスです。</p>
    <div class="button">
	    <a href="<%= login_url %>" class="da-link">とりあえず使ってみる</a>
    </div>
  </div>
