        <div class="tab-pane active" id="#tab<%= tag_id%>">
          <div class="logreg" style="background: white"><div class="raw">
            <table class="table table-hover">
              <!-- <tbody data-bind="foreach: todos['<%= tag_name %>'], visible: todos['<%= tag_name %>']().length > 0">  -->
              <tbody data-bind="sortable: { data: todos['<%= tag_name %>'], afterMove: sendSorData, options: { handle: '.sortableHandle', cursor: 'move' } }">
                <tr data-bind="enable: id" >
                  <td class="sortableHandle">
                    <span class="badge" data-bind="text: tag"></span>&nbsp;&nbsp;
                    <span class="todo_detail" data-bind="text: detail"></span>
                  </td>
                  <td class="todo_date">
                    <span data-bind="text: end_date"></span>
                  </td>
                  <td>
                    <a data-bind="attr: {href: delete_url}, click: removeTodo" data-method="delete"data-remote="true"><span class="icon-trash icon-1x" /></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div></div>
        </div>
