          <div class="logreg" style="background: white"><div class="raw">
            <table class="table table-hover">
              <tbody>
              <tr v-repeat="todos | filterByTag <%= tag_name %>" class="item-{{$index}}">
                  <td class="sortableHandle">
                    <span class="badge">{{tag}}</span>&nbsp;&nbsp;
                    <span class="todo_detail">{{detail}}</span>
                  </td>
                    <td>
                    <a v-if="id" v-on='click: removeTodo(this)' data-method="delete" data-remote="true" href="{{delete_url}}"><span class="icon-trash icon-2x" /></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div></div>
